<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/plantilla::head">
  <meta charset="UTF-8">
  <title>Tarjets</title>
</head>
<body>

<section th:fragment="Tarjetas">
  <br>
  <div class="container">
    <div class="row">


      <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">

            <h3>Total Usuarios</h3>
            <h4 class="display-4">
              <i class="fas fa-users"></i> [[${totalUsuarios}]]
            </h4>

          </div>
      </div>
    </div>

      <div class="col-md-3">
        <div class="card text-center bg-danger text-white mb-3">
          <div class="card-body">

            <h3>Total de Quejas</h3>
            <h4 class="display-4">
              <i class="fas fa-book"></i> [[${totalQueja}]]
            </h4>

          </div>
        </div>
      </div>

      <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="card text-center bg-warning text-white mb-3">


          <div class="card-body" sec:authorize="hasRole('ROLE_ADMIN')">
            <h3>Regiones</h3>
            <h4 class="display-4">
              <i class="fas fa-home"></i> [[${totalRegiones}]]
            </h4>
          </div>

        </div>
      </div>

      <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="card text-center bg-primary text-white mb-3">
          <div class="card-body">

            <h3>Puntos</h3>
            <h4 class="display-4">
              <i class="fas fa-house-user"></i> [[${totalPuntos}]]
            </h4>

          </div>
        </div>
      </div>

    </div>
  </div>

</section>

</body>
</html>