<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="plantilla/plantilla::head">
    <meta charset="UTF-8">

    <title>Agregar Nuevo Punto</title>
</head>
<body>

<header  th:replace="plantilla/plantilla::header"></header>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<br>
<div class="card">
    <a class="btn btn-danger" th:href="@{/}" role="button"> <i class="fas fa-backward"></i>  Regresar</a>
    <div class="card-body">

        <i class="fas fa-house-user"></i> <span>EDITAR TIPO DE QUEJA</span>
        <br>
        <br>
        <form th:action="@{/actualizarTipoQueja}" name="form_punto" method="POST" th:object="${tipoQueja}" class="was-validated" onsubmit="return validar()">

            <input type="hidden" name="id"  th:field="*{idTipo}">

            <div class="mb-2">
                <label for="siglas" class="form-label">Siglas:</label>
                <input type="text" readonly class="form-control" id="siglas"  th:field="*{siglas}" required ="true"/>
            </div>

            <div class="form-floating col-md-4">
                <textarea class="form-control" placeholder="Leave a comment here" id="descripcion" th:field="*{descripcion}" style="height: 100px" required="true"></textarea>
                <label for="descripcion">Descripcion</label>
            </div>

            <div class="form-group col-md-4">
                <label for="inputEstado">Estado</label>
                <select  th:field="*{estado}" id="inputEstado" class="form-control" required="true">
                    <option th:each="estado : ${estado}" th:text="${estado.nombre}"  th:value="${estado.idEstado}"></option>
                </select>
            </div>

            <br>
            <button type="submit"  id="btn_submit" value="validar" class="btn btn-primary"> <i class="fas fa-save"></i> Guardar </button>
            <a class="btn btn-warning" th:href="@{/listaTipoQuejas}" role="button"> <i class="fas fa-window-close"></i>Cancelar</a>
        </form>
    </div>
</div>

<br>
<br>

<header th:replace="plantilla/plantilla ::footer"></header>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>

    function validar(){
        event.preventDefault();
        var siglas = document.getElementById('siglas').value;
        Swal.fire({
            title: '“¿Está seguro de guardar los cambios realizados?”',
            showDenyButton: true,
            confirmButtonText: 'Si',
            denyButtonText: `NO`,
        }).then((result) => {
            if (result.isDenied) {
                Swal.fire('No se Guardaron los cambios', '', 'info')
                .then((ok) => {
                    location.href="/listaTipoQuejas";

                })


            }
            else if (result.isConfirmed) {
                document.form_punto.submit();
                document.getElementById('siglas').value="";
            }
            return false;
        })

    }
</script>

</body>
</html>