<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="plantilla/plantilla::head">
    <meta charset="UTF-8">
    <title>Ingreso de quejas</title>
</head>
<body style=" background-color:black;">
<header  th:replace="plantilla/plantillaQueja::header"></header>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<hr class="solid">
<div class="alert alert-primary" th:if="${message !=null}" role="alert">
    <label th:text="${message}"></label>
</div>

<div class="card" style="background-color: black;color: white">


    <div class="card-body">

        <i class="fas fa-comment-alt"></i> <span> INGRESO DE  QUEJA </span>

        <br>
        <br>
        <form style="background-color:#071E41; color: white" th:action="@{/guardarQueja}" method="POST" name="form_queja" th:object="${quejaCuentaHabiente}" class=" row g-3 was-validated" onsubmit="return validar()"
              enctype="multipart/form-data">

            <div class="col-md-4">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre"  th:field="*{nombre}" required ="true">
            </div>

            <div class="col-md-3">
                <label for="correo" class="form-label">Correo Electronico:</label>
                <input type="email" class="form-control" id="correo"  th:field="*{correo}" placeholder="ejemplo@ejemplo.com" required >
            </div>


            <div class="col-md-4">
                <label for="telefono" class="form-label">Telefono:</label>
                <input type="text" class="form-control" id="telefono" name="telefono" th:field="*{telefono}" placeholder="+502 0000-0000" required>
            </div>

            <div class="col-md-4">
                <label for="oficina" class="form-label">Oficina:</label>
                <input type="text" class="form-control" id="oficina"  th:field="*{oficina}" >
            </div>


            <div class="col-md-3">
                <label for="nombreEmpleado" class="form-label">Nombre Empleado:</label>
                <input type="text" class="form-control" id="nombreEmpleado"  th:field="*{nombreEmpleado}" >
            </div>

            <div class="form-floating col-md-4" style="color: black">
                <textarea class="form-control" maxlength="1000" placeholder="Leave a comment here" id="comentario" th:field="*{detalleQueja}" style="height: 100px" required="true"></textarea>
                <label for="comentario" value="white">Detalle de la Queja</label>
            </div>

            <div class="col-md-2">
                <label for="inputTipo">Tipo Queja</label>
                <select id="inputTipo" th:field="*{tipoQueja}" class="form-control" required>
                    <option selected enable value="">Escoger...</option>
                    <option th:each="tipo : ${tipoquejas}" th:text="${tipo.descripcion}"  th:value="${tipo.idTipo}"></option>
                </select>
            </div>


            <div class="input-group col-md-2">
                <input type="file"  class="form-control" name="file" id="file">
                <label class="input-group-text" for="file">Cargar Archivo</label>
            </div>

            <div class="input-group col-2">
                <div class="col-md-12 g-recaptcha" data-sitekey="6Lcc0HwUAAAAAKNJBjHgioF2h4FALhdILADh-or6"></div>
            </div>



            <br>
            <div class=" col-md-12">
                <button type="submit"  id="btn_submit" value="validar" class="btn btn-primary"> <i class="fas fa-save"></i> Guardar </button>
                <a class="btn btn-danger" th:href="@{/}" role="button"> <i class="fas fa-backward"></i>  Regresar</a>
                <br>
            </div>
            <br>
        </form>

    </div>
</div>

<header th:replace="plantilla/plantilla ::footer"></header>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="jquery.1.7.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script>
    $(document).ready(function($){
        $("#telefono").mask("+502 9999-9999");
    });
</script>
<script>



    function validar(){
        event.preventDefault();
        var nombre = document.getElementById('nombre').value;
        Swal.fire({
            title: 'Desea enviar su queja: '+nombre+'?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Si',
            cancelButtonText: "No",
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
        }).then((result) => {
            if (result.value) {
                if (result.isConfirmed) {
                    Swal.fire('Saved!', '', 'success')
                }
                document.form_queja.submit();
                document.getElementById('nombre').value="";
            }
            return false;
        })
    }
</script>
</body>
</html>