<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/plantilla::head">
    <title>Control de Quejas</title>
</head>

<body style=" background-color:black">
<header  th:replace="plantilla/plantilla::header"></header>
<section th:replace="plantilla/botonesEmpleado ::BotonesEmpleado"></section>
<section th:replace="plantilla/tarjetas :: Tarjetas"></section>
<br>
<br>
<header th:replace="plantilla/plantilla ::footer"></header>
</body>
