<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="plantilla/plantilla::head">

  <title>LOGIN PAGE</title>

</head>
<body style="background-color:#071E41 ">
<header  th:replace="plantilla/plantilla::header"></header>



<div class="container py-5 h-100">
  <div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">

    </div>

    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" >
      <div class="card" style="border-radius: 1rem; background-color: floralwhite">
       <!--        si el usuario no existe devolvera un error -->
        <div class="card-body p-5 text-center">
          <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Usuario y/o Contrasena Incorrecto!
          </div>

          <h1 class="mb-5">BIENVENIDO</h1>
          <h2><i class="fas fa-university"></i> Banco Mi Pistio</h2>
          <p class="text-black mb-5">Ingrese sus Credenciales!</p>

          <form id="login-form" class="form"  method="POST" th:action="@{/login}">

            <!-- username input -->
            <div class="form-outline mb-4">
              <label for="username" style="padding-right: 18rem"> <span class="fas fa-user"></span></label>

              <input type="text" name="username" id="username" class="form-control" placeholder="type your Username"
                     style ="border-radius: 20px" required="true">
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label for="username" style="padding-right: 18rem"> <span class="fas fa-lock"></span></label>
              <input type="password" name="password" id="password" class="form-control"  placeholder="type your Password"
                     style ="border-radius: 20px" required="true"
              >
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg" >
              <i class="fas fa-sign-in-alt"></i> Log in
            </button>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>
</body>
</html>